---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero";
import Navbar from "../components/Navbar";
import SearchBar from "../components/SearchBar";
---

<Layout title="funko pop">
  <div class="w-full flex flex-col justify-center items-center">
    <Navbar client:load />
    <main
      class="w-full overflow-hidden bg-cover min-h-screen bg-[radial-gradient(ellipse_at_bottom,_var(--tw-gradient-stops))] from-melrose-800 via-melrose-500 to-melrose-200"
    >
      <Hero />
    </main>
    <section class="pt-12">
      <h1 class="text-gray-600 font-extralight text-center text-5xl">search</h1>
      <SearchBar
        client:visible
        APP_ID={import.meta.env.APP_ID}
        APP_KEY={import.meta.env.APP_KEY}
      />
    </section>
  </div>
</Layout>
